<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        {% for blog in data %}
            <section class="sect-{{blog.id}}">
                <h1 class="blog-title">{{ blog.title }}</h1>
                <h2 class="blog-subtitle">{{ blog.subtitle }}</h2>
                <p class="blog-body">{{ blog.body }}</p>
                <a href="{{ url_for('read_selected_blog', id=blog.id) }}">Click here to access {{ blog.title }}</a>
            </section>
        {% endfor %}
    </div>

</body>
</html>



    <!-- {% if username %}
        <h1>Hello {{username}}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}

    <p style="display: block;">{{random_number}}</p>

    <ul>
        {% for employee in employees %}
            <li>{{employee}}</li><br>
        {% endfor %}
    </ul>
    <footer>
    <p>Copyrighted {{year}}</p>
    </footer> -->