<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the blog site.</h1>
    </div>
    <a href="{{ url_for('read_all_blogs') }}">Click here to view app blogs!</a><br>
    <a href="{{ url_for('read_selected_blog', id=2) }}">Click to test the id parameter and go to the last blog</a>
    <footer id="footer">
        <p>Copyright {{ year }}. Built by Matthew Hippensteel</p>
    </footer>
    
</body>
</html>